<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.taskmanager.repository.TaskRepositoryTest"/>
      <class name="com.taskmanager.util.DateValidatorTest"/>
      <class name="com.taskmanager.service.CategoryServiceTest"/>
      <class name="com.taskmanager.service.TaskServiceTest"/>
      <class name="com.taskmanager.service.ReportServiceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
